// FONT IMPORT
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

html {
  font-size: 100%;  
}

body {
  @include SpaceMono;
  font-size: 24px;
  background-color: $light-grayish-cyan;
  color: $dark-grayish-cyan;
  min-height: 100vh;
  padding: 1.5em 0;
  //DISPLAY FLEX
  display: flex;
  justify-content: center;
  align-items: center;
}
